<link rel='stylesheet' href='/stylesheets/footer.css' />


<footer class="footer">
    <section class="footer-img">
		<img src="../../design/logo-enlaceVida.png" alt="Logo de EnlaceVida" class="logo">
                <h1>Enlace de vida market</h1>
    </section>
    <section class="info-interes">
		<h4>Información de interes</h4>
        <article>
           <a href="/legalnotice">   <p>Terminos y condiciones <i class="fas fa-balance-scale-right"></i></a></p>
           <a href="/legalnotice">  <p>Aviso de privacidad</p> </a>
           <a href="/contact"> <p>Contacto  <i class="far fa-envelope"></i></a></p> 
		   <a href="/contact"> 	<p>Bolsa Laboral  <i class="far fa-handshake"></i></a></p> 
        </article>
    </section>
    <section class="info-redes">
        <ul>
            <li>
                <a href="http://" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="http://" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="http://" target="_blank">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
        </ul>
    </section>
    <section class="copyright">
		<p>Copyright © 2022 Enlace de vida Market S.A. De C.V. Puebla, Mexico </p>
    </section>
</footer>

