<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<header class="main-header">
    <div class="container">
        <nav class=navbar>
            <a href="/home" class="main-header_home-link">
                    <img src="../../design/logo-enlaceVida.png" alt="Logo de EnlaceVida" class="logo">
                    <h1>Enlace de vida market</h1>
           </a>
        
                    <div class="form" action="#" method="GET">
                        <form action="/search" method="GET" class="search-form">
                            <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
                            <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                <a href="#" class="main-header_credit-link">
                    <h2 class="copy-header">
                        <i class="fas fa-hand-holding-usd"></i>
                        <i class="fas fa-shopping-bag"></i>
                        <br>
                        Comprá sin intereses con tarjeta de crédito
                    </h2>
                </a>
         </nav>
           <button class="btn-toggle-navbar">
			<i class="fas fa-bars"></i>
		</button>
    </header>
    

     <%- include('left-navbar') %> 

    </nav>
           
     </div>


