
<div class="left-right-header">
<ul class="right-navbar">
   <li><a href="/bienestar">Bienestar</a></li>
   <li><a href="/derma">Derma</a></li>
   <li><a href="/diabetes">Diabetes</a></li>
   <li><a href="/miBebe">Mi bebe</a></li>
   <li><a href="/nuestraMarca">Nuestra marca</a></li>
   <li><a href="/promociones">Promociones</a></li>
   <li><a href="/mas">Descubre mas</a></li>
</ul>
</div>