<!DOCTYPE html>
<html lang="es">
    <title> BIENESTAR </title>
 
    <!-- Include Head -->
    <%- include('partials/head') %>
    <!-- Include /Head -->

    	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

<body>

    <h1><i class="fas fa-arrow-circle-left"></i><a href="/home">Home 😎</a></h1>
    
	<link rel='stylesheet' href='/stylesheets/products.css' />

	
	<hr> 
	<!-- todos los productos -->
	<%- include('partials/products') %>
	<!-- /todos los productos -->

<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer --> 
</html>

