<!DOCTYPE html>
<html lang="es">
    <title> CONTACTO </title>

    <h1><i class="fas fa-arrow-circle-left"></i><a href="/">Home</a></h1>
   
    <!-- Include Head -->
    <%- include('partials/head') %>
    <!-- Include /Head -->
    <h2>😎</h2>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    <hr>

    <title>Formularios</title>
</head>
<body>
  <form action="resultado.html" method="POST">
      <label>Dejanos tu comentario</label>
      <!-- escribí tu código aquí -->
    <textarea input type="submit"></textarea>
      <button type="submit" name="comentario:" value="Enviar"> </button>  
      <button type="reset" name="comentario:" value="Reset"> </button>

  </form>
</body>
</html>

     
<hr> 
<%- include('./partials/footer') %>
<hr>
</html>

