<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title> MAS </title>
    
</head> 
<body>
    <h1><i class="fas fa-arrow-circle-left"></i><a href="/">Return</a></h1>

    <h1>--------------------------------------------       MAS ---------------------------------------------------------------------------- </h1>

    <hr> 
       <%- include('./partials/header') %>
    <hr> 
    <img src="http://via.placeholder.com/1900x400" alt="FotoPlaceHolder">
    <hr> 
	<!-- todos los productos -->
	<%- include('partials/products') %>
	<!-- /todos los productos -->
    <hr>

</body>
<hr> 
<%- include('./partials/footer') %>
<hr>
</html>