<!DOCTYPE html>
<html lang="es">
    <title> ¡Hola Ingresa! </title>
<link rel='stylesheet' href='/stylesheets/forms.css' />
<link rel='stylesheet' href='/stylesheets/register_forms.css' />
    <!-- Include Head -->
<%- include('partials/head') %>   

<body>
<!-- Header -->
<%- include('partials/header') %>
<h1><i class="fas fa-arrow-circle-left"></i><a href="/">Home</a></h1>
<!-- /Header -->   

                    <h2 class="form-title">¡Hola! Aqui deberia ir el perfil del usuario </h2>
                    
</body>
<%- include('./partials/footer') %>
<hr>
</html>
</body>

